html, body {
  background-color: #060607;
  min-height: 100vh;
}


/*
nav
*/
ul {
  margin: 32px;
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;

}


ul li a {
  display: inline-block;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li:hover {
  background-color: #011030;
  padding: 0;
}

img {
  margin-left: 18px;
  width: 45px;
  height: 45px;
  border-radius: 50px;
}


/*
primeira section
*/
.container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('../fundo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  150px 20px;
  gap: 20px;
  border-bottom: 1px solid #011030;
}


.texto-coluna {
  flex: 1;

}

.imagem-coluna {
  flex: 1;
  display: flex;
  justify-content: center;
}

.foto-perfil {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #011030;
  box-shadow: 0 0 20px 10px rgba(1, 16, 48, 1);
}

.links {
  max-width: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.links .git {
  text-decoration: none;
  text-align: center;
  border: 5px solid #011030;
  box-shadow: 0 0 10px rgba(1, 16, 48, 1);
  border-radius: 50px;
  display: inline-block;
  padding: 15px;
  width: 150px;
}
.links .git:hover {
  background-color: #011030;
  border: 5px solid #011030;
  box-shadow: 0 0 10px rgba(1, 16, 48, 1);
  border-radius: 50px;
  padding: 15px;
  width: 150px;
}
.links a {
  margin-top: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}


.links-perfil {
  text-align: left;
}


#nome-dev  {
  display: block;
  max-width: 250px;
  word-wrap: break-word;
  line-height: 0.9;
  font-size: 48px;
  font-weight: bold;
  color: white;
}
#bio-dev {
  color: white;
  width: auto;
  text-align: left;
  font-size: 25px;
  color: #7e7a7a;
}


/*
section xp
*/
.container-xp {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 200px;
  max-width: 1000px;
  margin: 0 auto;
}

.card {
    background: linear-gradient(270deg, rgba(1, 16, 48, 1), transparent);
    border: 1px solid #011030;
    padding-top: 50px;
    border-radius: 15px;
    color: white;
    text-align: center;

}

.card-largo {
    grid-column: span 3; 
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 30px;
    background: linear-gradient(90deg, rgba(1, 16, 48, 1), transparent);
}

.coluna-interna {
  flex: 1;
  text-align: center;
  padding-top: 25px;
  font-size: 22px;
}

.coluna-interna span {
    display: block;
    font-weight: bold;
    color: #053db6; 
     
}
.img-cards img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.p-card {
  margin: auto;
  max-width: 200px;
  font-size: 14px;
}


/*
3 section
*/
.container-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding:  100px 20px;
  padding-bottom: 150px;

  max-width: 1200px;
  margin: 0 auto;
  
}


 #bio-info {
  color: rgb(168, 159, 159);
  text-align: left;
  max-width: 600px
 }

 .imagem-info {
  display: flex;
  justify-content: center;
  
}

.foto-info {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #011030;
  box-shadow: 0 0 50px 1px rgba(1, 16, 48, 1);
}

